*{
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
.topcmp {
  width: 100%;
  padding-left: 5%;
  padding-top: 10px;
}
.ai{
  height: 700px;
  

}
.our{
  height: 900px;

  margin-top: 4%;
  margin-bottom: 4%;

}
.int{
  width: 400px;
  height: 400px;
}
.cols{
  height: 700px;
}
.head{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  
}
.top{
  display: block;
}
.headmenu{
  display: none;
}
.image img{
  float: right;
  clear: both;
  height: 400px;
}
@media only screen and (max-width:1000px){
  .image{
    display: none;
  }
}
@media only screen and (max-width: 1000px){
  .top{
    display: none;
    
  }
  .headlink{
    display: none;
  }
  .headmenu{
    display: block;
  }
}
.res{
  width: 50%;
}
@media only screen and (max-width:800px){
  .detail{
    width: 100%;
  }
  .dimg{
    width: 100%;
  }
}
@media only screen and (min-width:700px){
  .detail{
    width: 55%;
  }
  .dum{
    width: 100%;
  }
}
@media only screen and (max-width:755px){
  .cols{
    height: auto;
  }
  .ai{
    height: auto;
  }
  .res{
    width: 100%;
  }
  .int{
    width: 300px;
    height: 300px;
  }
  .our{
    height: auto;

  }
}
